nav.navbar.navbar-default 
    .container
        .navbar-header
            p.navbar-brand DAILY JOURNAL 
        ul.nav.navbar-nav.navbar-right 
            li#home 
                a(href="/") HOME
            li#about 
                a(href="/about") ABOUT
            li#contact 
                a(href="/contact") CONTACT US
            li#compose
                button.btn.btn-outline-primary
                    a(href="/compose") COMPOSE




