/* Types of Display property
    * block
        * Paragraph <p>
        * Headers <h>
        * Division
        * Lists
    * inline
        * Spans <span>
        * Images <img>
        * Anchor <a>
    * inline-Block
    * none
*/

/* Types of Position property
    * Static
    * Relative
    * Absolute
    * Fixed
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;500&family=Sacramento&display=swap');

body {
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}


h1 {
    color: #66BFBF;
    font-size: 5.625rem; /*1em = 100% = 16px;*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;    
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
}
a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E; 
    text-decoration: none;
    font-size: 1.3em;
}

hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 10px;
    width: 5%;
    margin: 100px auto 100px auto;
}
.top-container {
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
    height: 100%;
}

.intro {
    width: 30%;
    margin: 50px auto 50px auto;
    line-height: 2;
}

.top-cloud {
    position:absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
}

.small {
    height: 250px;
    margin: 100px;
}

.circular {
    clip-path: circle(50%);
}
.skill-row {
    width: 50%;
    margin: 0 auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img-one {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img-two {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.bottom-container {
    height: 100px;
    padding: 40px;
    margin-top: 100px;
    background-color: #66bfbf;
    position: relative;
}

.footer-link {
    margin-left : 40px;
    margin-bottom: 100px;
}

.copyright {
    margin: 40px auto;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 30px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

li, .navlinks, .cta-b, .cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 20px;
    background-color: #C4C4C4;
}

.navitems {
    list-style: none;
}

.navitems li {
    display: inline-block;
    padding: 0px 20px;
}

.navitems li a {
    transition: all 0.3s ease 0s;
}

.navitems li a :hover {
    color: #0088a9;
}

.cta-b {
    padding: 9px 25px;
    background-color: rgba(218, 184, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta-b:hover {
    background-color: rgba(218, 184, 139, 0.6);
    
    
}