@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #6A2C70;
    padding: 1rem 2rem;
    height: 5rem;
}

footer {
    min-height:100% ;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 1rem;
    background-color: #00ADB5;
}

.main-logo {
    color : white;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

.cards {
    display: grid;
    margin: 5rem 10rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px #ccc;
    display: inline-grid;
}

.card h1{
    text-align: center;
    color: white;
    font-size: 4rem;
    padding: 1rem;

}

.card .emoji-name{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 1.3rem;
    margin: 1rem;
    text-align: center;
}

.card p{
    text-align: center;
    font-family: 'Roboto' , sans-serif;
    font-weight:400;
    font-size: 0.9rem;
    margin: 1rem;
}